.App {
  /* text-align: center; */
  /* background-color: #ffd48f; */
  min-height: 100%;
  padding: 4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.brewery-card {
  cursor: pointer;
}

.card.brewery-card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2) !important;
  transition: box-shadow 0.3s ease;
}

.app-header {
  background-image: url("/public/IMG_6397.jpeg");
  background-position: center;
  background-size: cover;
  height: 250px;
  visibility: 50%;
  opacity: 60%;
  justify-content: center;
  align-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: bzn-orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
